input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1
}

.search-bar-container {
    margin: 30px 10px;
    
    border-radius: 20px;
    box-shadow: #EDEDED 0 10px 10px;
    padding: 15px;
    background-color: white;

    display: flex;
    flex-direction: row;
}

.search-button {
    background-color: #FF5350;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    color: white;
    /* font-size: 18px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    opacity: 0.8;
    box-shadow: #ff53509c 3px 3px 13px;
}

img{
    height: 50%;
}

@media only screen and (max-width: 380px) {
    .search-bar-container {
        margin: 40px 0;
    }
}